body {
    padding: 0px;
    margin: 0px;
}
#grille {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    
    height: 500px;
    width: 90%;
    margin: auto;
   
    background-color: #fff;
}

#grille div {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid;
}

#un {
    background-color: #f90;
}

#deux {
    background-color: #fc0
}

#trois {
    background-color: #f96;
    justify-self: center;
}

#quatre {
    background-color: #fc6;
    justify-self: end;
    align-self: end;
}
