body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
#grille {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 50% auto 100px;
    height: 600px;
    background-color: #fff;
}

#grille div {
    text-align: center;
    font-size: 20px;
    border: .5px solid;
    padding: 10px;
    font-weight: bold;
}

#un {
    background-color: #f90;
}
#deux {
    background-color: #fc0;
}
#trois {
    background-color: #f96;
}

#quatre {
    background-color: #fac;
}

#cinq {
    background-color: #ffe;
}

#six {
    background-color: #0fe;
}

#sept {
    background-color: #52e;
}

#huit {
    background-color: #4af;
}